/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  #trainMotion {
    display: none;
    margin-top: 50px;
  }

  #trainMotion img {
    transform: translate(-50%, 0%);
  }

  #trainMotion.choochoo img {
    transition: all 2s ease-out;
    transform: translate(240%, 0%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #trainMotion {
    display: none;
    margin-top: 50px;
  }

  #trainMotion img {
    transform: translate(-50%, 0%);
  }

  #trainMotion.choochoo img {
    transition: all 2s ease-out;
    transform: translate(240%, 0%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #trainMotion {
    display: none;
    margin-top: 50px;
  }

  #trainMotion img {
    transform: translate(-50%, 0%);
  }

  #trainMotion.choochoo img {
    transition: all 2s ease-out;
    transform: translate(240%, 0%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #trainMotion {
    display: block;
    margin-top: 85px;
  }

  #trainMotion img {
    height: 60px;
    transform: translate(-50%, 0%);
  }

  #trainMotion.choochoo img {
    transition: all 2s ease-out;
    transform: translate(360%, 0%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #trainMotion {
    display: block;
    margin-top: 80px;
  }

  #trainMotion img {
    height: 60px;
    transform: translate(-50%, 0%);
  }

  #trainMotion.choochoo img {
    transition: all 2s ease-out;
    transform: translate(440%, 0%);
  }
}
